@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* aplica para todos */
*{
    padding: 0px;
    margin:0px;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #EFEBE3;
}
header{
    background: linear-gradient(#4DA768,#209851);
   padding: 25px;
}
 


.lista{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 100px;
   
}
.lista a{
    text-decoration: none;
    margin-left: 70px;
    font-weight: 900;
    color: #000;
}
.pags{
    display: flex;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    margin-top: 10px;
}
.show {
    display: block;
}
.profile-icon {
    margin-right: 10px;
}

/* estilos.css */
#dieta_exibida {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    overflow-x: auto;
    padding: 15px;
}

#dieta_exibida h2 {
    color: #333;
    padding: 15px;
}

#dieta_exibida table {
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word;
    
}

#dieta_exibida th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

#dieta_exibida td {
    border: 1px solid black;
    padding: 8px;
    word-wrap: break-word;
}
.principal{
    text-align: center;
    width: auto;
    padding: 160px;
    background-color: #EFEBE3;
}
.formulario input{
    margin-top: 15px ;
}
.principal h1{
    padding-bottom: 10px;
}
.buttonInput {
    width: 15%;
    padding: 10px; /* Tamanho fixo do botão */
    margin-left: auto;
    margin-right: auto;
}
.select {
    padding: 10px;
    text-align: center;
}.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    width: 50%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
}

footer{
    background-color: #EFEBE3;
    display: flex;
    justify-content: space-evenly;
    padding: 180px; 
}
    
    
footer h2{
    color: #000;
    font-size: 16px;
}
